#register-container{
    background-image: url("../../assets/imgs/register/registro_usuario_no_text.png");
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

#form-register{
    // margin-top: 160px;
}

.warnings{
    font-weight: 100;
    color:grey;
    font-size: 0.8em;
}